@model RealSurfClub.Models.DBModels.User
@{
    ViewBag.Title = "А кто у нас продавец-то?";
}

<h2>Информация о продавце</h2>
Никнэйм: @Model.NickName
<br>
Фамилия: @Model.LastName
<br>
Имя: @Model.Name
<br>
Почта: @Model.Email
<br>
О себе: @Model.About
<br>
